{% extends "ap2.j2" %}
{% block summary %}
<p>Het applicatieprofiel Openbare Nutsvoorzieningskasten toont hoe het gebruik van mobiele elektriciteitskasten op het openbaar domein kan worden beschreven. Dergelijke kasten worden ingezet op evenementen zoals markten, kermissen etc., waar nood is aan toegankelijke en gecontroleerde stroomvoorziening.</p>
<p>Het datamodel laat toe om informatie vast te leggen over onder andere reservaties, aansluitingen, elektriciteitsverbruik, betrokken actoren en de infrastructuur zelf. Op die manier kunnen lokale besturen, nutsleveranciers en organisatoren data op een uniforme manier verzamelen, delen en hergebruiken.</p>
<p>Doel is om digitale toepassingen mogelijk te maken die een efficiënter en transparanter beheer van de stroomvoorziening op het evenement ondersteunen. Denk hierbij aan het automatisch openen en afsluiten van stopcontacten, het meten van verbruik per gebruiker en het correct factureren op basis van werkelijk gebruik. Dit draagt bij aan een toekomstgerichte en schaalbare aanpak voor duurzame energievoorziening in de publieke ruimte.</p>
<p>Dit applicatieprofiel hergebruikt onder andere <a href="https://w3c.github.io/sdw-sosa-ssn/ssn/"<SSN/SOSA</a> (gebaseerd op <a href="https://docs.ogc.org/as/20-082r4/20-082r4.html">ISO 19156</a>) en klassen uit OSLO Digitale Watermeter voor het beschrijven van het verbruik. Voor infrastructuur zoals elektriciteitskasten is <a href="https://belgif.github.io/thematic/models/cable-pipe/index_nl.html"<Cables & Pipes</a> (huidige versie van IMKL en gebaseerd op <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-utility-and-government-services-technical-guidelines_en">INSPIRE Utility Services</a>) gebruikt.</p>
{% endblock %}
